body {
  background-color: honeydew;
}

/* #arcoiris {
  background: rgb(128,214,138);
  background: linear-gradient(90deg, rgba(128,214,138,1) 17%, rgba(87,138,171,1) 49%, rgba(212,150,209,1) 80%);
} */